#header {
    width: 100%;
    height: 123px; /* matches image height */
    background-repeat: repeat-x;
    background-position: top center;
    background-size: auto 123px; /* keep original height */
}